<!DOCTYPE html>
<html>
<head>
    
    <title> Split Bill </title>
</head>
<body>
    <div style="margin-top:100px; text-align:center;"><img style="border-radius:70%;  width:5%;" src="https://w7.pngwing.com/pngs/937/156/png-transparent-google-logo-google-search-google-account-redes-search-engine-optimization-text-service-thumbnail.png" alt="logo"></div>
    <div style="font-size:50px; text-align:center; padding-top:20px; ">Split Bill</div>
    <div style="font-size:30px; text-align:center; padding-top:20px; " >BEST IN MARKET</div>
    {% block content5 %}
    {% endblock %}s
    {% block content3 %}
    {% endblock %}
    {% block content4 %}
    {% endblock %}
    {% block content2 %}
    {% endblock %}
    {% block content %}
    {% endblock %}
</body>
</html>